h3{
  margin-top: 0cm;

}

head{
  color: rgb(2, 2, 2);
  height: 100px;
  margin: 1px;
}

.about-text{
  font-size: 12pt;
}

a {
  color: black;
  text-decoration: none;
}

body{
  background-color: rgb(247, 238, 238);
  font-size: 20px; 
  word-spacing: normal;
  line-height: 1cm;
}

.middle{
  margin: 3cm;
}

footer {
  color: #000000;
  background-color: #000000;
  height: 5cm;
}

.slideshow{
  margin: 0 auto;
  padding: 0;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: relative;
}

.slider{
  width: 1000px;
  height: 600px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
  background-size: cover;
}


.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
  background-size: cover;
}

.slide img{
  width: 1000px;
  height: 600px;
  object-fit: cover;
}

.slide-text{
  position: relative;
  z-index: 3; /* Change the z-index value to control the stack order */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; /* Use flexbox to center the text vertically and horizontally */
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 36px;
  text-align: center;  
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  z-index: 2;
  width: 1000px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid grey;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;

}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: grey;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 1000px;
  justify-content: center;
  margin-top: 560px;
}

.navigation-auto div{
  border: 2px solid #9da4a4;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: lightgrey;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: lightgrey;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: lightgrey;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: lightgrey;
}

/*end of slideshow*/


nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav image {
	width: 150px
}
.nav-links {
	flex: 1;
	text-align:right;
}
.nav-links ul {
	list-style: none;
	display: inline-block;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	content: rgb(5, 5, 5);
	text-decoration: none;
	font-size: 20px;
 
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	margin: auto;
 
}
.nav-links ul li:hover::after{
	width: 100%;
}


/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 15px;
  width: 2cm;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 10px 16px;
  text-decoration: none;
  display: block; 
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #07800b;}

/* email form*/
.form {
  width: 400px;
  margin: 0 auto; /* Center the form on the page */
}

/* Style the form fields */
.form input,
.form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Style the placeholder text */
.form input::placeholder,
.form textarea::placeholder {
  color: #aaa;
}

/* Style the submit button */
.form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 10px;
  border: none;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: #45a049;
}


/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 200;
}

/* Set a specific color for each brand */

/* LinkedIn */
.fa-linkedin {
  background: #070707;
  color: white;
}

/* Facebook */
.fa-facebook {
  background: #070707;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #060606;
  color: white;
}

/* GitHub */
.fa-github {
  background: #060606;
  color: white;
}

.text-center {
	align-items: center
}

.copyright-text {
  text-align: center;
  color: white;
  font-size: 12px;
}



